.body{
    background-color: blue;
}
.vibes{
    text-align: center;
    margin: 0px auto;
    padding: 40px;
    
}
.Title{
    text-align: center;
    margin: 0px auto;
    color: rgb(219, 230, 219);
    text-decoration: underline;
}
.form{
    text-align: center;
    background-color: rgb(230, 46, 46);
    margin-left: 200px;
    margin-right: 200px;
    border: 100px;
    border-radius: 5%;
    
}