#container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color: red;
    }

#header {
    width: 950px;
    height: 550px;
    background-color: ghostwhite;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url(gauravtaneja.jpg);
}
.body{
    background-color: chartreuse;
}

#quote-1 {
    height: 75px;
}

p span {
    border: 0 solid black;
    padding: 12px;
    position: relative;
    background-color: white;
}

#text {
    text-align: center;
    font-family:'Pacifico', cursive;
    font-size: 25px;
}

#bio-header {
    position: relative;
    top:10px;
    
    right: 100px;
}

.subsection-header {
    line-height: 120px;
    padding-left: 20px;
    font-size: 50px;
    color: black;
    font-weight: bold;
    height: 120px;
    width: 320px;
    margin: 0 auto;
    opacity: 0.6;
    background-color: bisque;
}

#content {
    width: 1100px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
}

#main-content {
    height: 300px;
    width: 800px;
    background-color: rgb(64, 33, 202);
    position: relative;
    top: 25px;
    left: 10px;
    font-family: 'Dosis' , sans-serif;
}

.event-date-first-child {
    border-top: 1px solid #ccc;
    margin-top: 0;
}

.event-date {
    width: 100px;
    height:7px;
    text-align: center;
    line-height: 26px;
    float: left;
    font-size: 12px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px 0;
    clear: left;
    font-weight: bold;
}

.event-desc {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 14px;
}

.event-desc-nth-child {
    border-bottom: 1px solid #ccc;
}

#side-content {
    height: 700px;
    width: 290px;
    background-color: white;
    float: right;
    clear: both;
    position: relative;
    bottom: 680px;
}

#footer {
    background-color: orange;
    height: 100px;
    position: relative;
    bottom: 130px;
    top: 150px;
}

a {
    color:red;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}
