h1{
    margin: 0%;
    background-color: blue;
    color: black;
    
}

p{
    background-color: grey;
    margin: 0%;
    
}


.two{
    background-color: lightblue;
    margin: 0%;

}

div {
    background-color: gray;
    margin: 0%;
}