body{
    background-color: aqua;
}
h1{
     text-decoration: none ;
    color: black;   
}
h2{
    text-decoration: line-through;
   color: black;   
}
h3{
    text-decoration: underline;
   color: black;   
}